.chatboxz {
    /* display: inline-block; */
    top: 88px;
    display: inline-grid;
    height: 10vh;
    width: 40%;
    padding-bottom:20%;
    background-color: plum;
    border-radius: 25px;
    position: relative;
    left: 30px;
  }